@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth !important;
    scrollbar-width: none !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
}

.font-esthetic {
    font-family: "Great Vibes", cursive !important;
    color: #494949;

}

.btn {
    color:#343a40
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

.img-crop {
    width: 18rem;
    position: relative;
    overflow: hidden;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.btn-theme {
    position: fixed;
    bottom: 15vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.loading-page {
    position: fixed;
    inset: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 1056 !important;
    background-color: #D89E88;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

.text-invitation {
    font-family: "Playfair Display", serif;
    color:#343a40
}

.text-invitation-body {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: unset;
    margin-bottom: 20px;
}

.address {
    font-family: "Playfair Display", serif;
}

.address-title {
    font-family: "Playfair Display", serif;
}

.map {
    width: 90%;
}

.welcome-title {
    margin: 20px;
}

@keyframes scroll {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #808080;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.dark-section {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

footer {
    margin-top: -0.5rem;
    padding-bottom: 5rem;
}

.bg-theme-light {
    background-color: var(--bs-gray-100);
}

.bg-theme-dark {
    background-color: var(--bs-gray-100);
}

.color-theme-white {
    color: white;
}

.color-theme-black {
    color: white;
}

.open__invitation {
    background-color: #fff4e0;
    border: 0px;
}

.progress-bar {
    background-color: #dd7156 !important;
}

/* .first-page {
    background-image: url("../assets/images/proposel.jpeg");
    background-repeat: no-repeat;
    box-sizing: inherit;
} */

.proposale-image {
    position: relative;
    overflow: hidden;
    width: 35rem;

    img {
        width: 35rem;
    }
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    margin: 15px 0;
}

.time-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    padding: 7px;
}

.time-circle.light {
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #d89f8848;
    font-size: 14px;
}

.time-circle.dark {
    background-color: #343a40;
    color: white;
    font-size: 16px;
}

.time-circle label {
    margin-top: 14px;
    font-size: 16px;
}

.calendar-container {
    /* background-image: url("../assets//images/background.webp"); */
    display: flex;
    justify-content: center;
    max-height: 450px;
    align-items: center;
}

.calendar-image {
    margin: auto;
    max-height: 450px;

    /* width: 90%; */
}

@media (max-width: 768px) {
    .img-crop {
        width: 12rem;
    }

    .proposale-image {
        position: relative;
        overflow: hidden;
        width: 18rem;

        img {
            width: 18rem;
        }
    }

    .calendar-image {
        margin: auto;
        /* max-height: 450px; */
        width: 90%;
    }
}

.gallery__container {
    max-width: 700px !important; 
}

.details_phone {
    background-color: #e3e3e3;
    color: #343a40;
}

.copyIcon {
    width: 20px;
    height: 15px;
    padding-left: 5px;
}

.details_img {
    width: 70px;
    padding: 10px;
}

.gift_img {
    width: 100px;
    padding: 10px;
}

.details_wish {
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, p {
    color:#343a40 !important;
} 

.container {
    max-width: 90%;
}

.finger-animation {
    width: 35px; /* Установите ширину под размер вашего изображения */
    height: 55px; /* Установите высоту под размер вашего изображения */
    position: relative;
}

.finger-animation>.scroll-animation {
    width: 100%; /* Изображение должно занимать всю ширину родительского элемента */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 10px;
        opacity: 0.5;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}

.open__invitation {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.timer-container {
    /* background-color: #ffffff; */
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px #e6e6e6;
}